<h2 class="text-center mt-4">Thank you for verifying your email address, {{name}}!</h2>

<div class="text-center">
  <h5 class="mt-5">What would you like to do next?</h5>
  <a href="/profile"><button class="btn btn-primary mt-5">View and edit your profile</button></a>
  <a href="/travel/add"><button class="btn btn-primary mt-5">Create your first post</button></a>
  <a href="/travel/alltrips"><button class="btn btn-primary mt-5">Get inspired</button></a>
</div>