<h2 class="text-center mt-4">Login</h2>

<form action="/login" method="POST" id="form" class="text-center p-3 light-green">
  <div class="form-group">
    <label for="username">Username</label>
    <input id="username" type="text" name="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" name="password">
  </div>
  {{#if message}}
  <div class="error-message text-center mb-3 mx-5 p-2">{{ message }}</div>
  {{/if}}

  <button class="btn btn-primary">Log in</button>
  <p>
    {{#unless user}}
    <div>
      <button type="button" class="btn btn-primary"><a href="/auth/google">Login mit GoogleAccount</a></button>
    </div>
    {{/unless}}


</form>