<h2 class="text-center mt-4">Thank you for joining the travel network!</h2>

<div class="text-center">
  <p class="mt-5">We have sent you an email with a link to verify your email address – one last step before you can
    start sharing and browsing travel inspirations.</p>
</div>