<section class="top-index p-5 row">
  <div class="search-form p-3 col-8">
    <h3>What would you like to do?</h3><br>
    <form action="#" method="POST">
      <div class="form-group row align-items-center">
        <div class="col-auto input-category">
          <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option selected>Choose...</option>
            <option value="train">Travel by train</option>
            <option value="bike">Bike tour</option>
            <option value="hiking">Hiking</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Start search</button>
    </form>
  </div>
</section>

<section class="experiences-index p-5">
  <h3>Browse experiences</h3>
  <div class="row">
    <div class="col-md-3 col-xs-6 text-center p-3">
      <img src="/images/experiences_train.jpeg" class="img-fluid"></div>
    <div class="col-md-3 col-xs-6 text-center p-3"><img src="/images/experiences_train.jpeg" class="img-fluid"></div>
    <div class="col-md-3 col-xs-6 text-center p-3"><img src="/images/experiences_train.jpeg" class="img-fluid"></div>
    <div class="col-md-3 col-xs-6 text-center p-3"><img src="/images/experiences_train.jpeg" class="img-fluid"></div>
  </div>
</section>