<!DOCTYPE html>
<html>

<head>
  <title>Authentication with Github</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav class="navbar navbar-light bg-light justify-content-between">
    <a href="#" class="navbar-brand">Home</a>
    <form class="form-inline">
      <button class="btn btn-outline-success mr-sm-2" type="submit">Signup</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </nav>

  <div class="container-fluid p-0">
    {{{ body }}}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="javascripts/application.js"></script>
</body>

</html>