<!DOCTYPE html>
<html>

<head>
  <title>Hello Janine :)</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav class="navbar navbar-light bg-light justify-content-between">
    <a href="/" class="navbar-brand">Home</a>
   
    <form class="form-inline">
       <a class="nav-item nav-link" href="/travel/alltrips">All trips</a>
      {{#if user}}
      <a class="nav-item nav-link" href="/profile">Profile</a>
      <a class="nav-item nav-link" href="/profile/yourtravels">My trips</a>
      <a class="nav-item nav-link" href="/profile/yourfavorites">Favorites</a>
      <button class="btn btn-success my-2 my-sm-0" type="submit"><a href="/logout">Logout</a></button>
      {{else}}
      <button class="btn btn-success mr-sm-2" type="submit"><a href="/signup">Signup</a></button>
      <button class="btn btn-success mr-sm-2" type="submit"><a href="/login">Login</a></button>
      {{/if}}
    </form>
  </nav>

  <div class="container-fluid p-0">
    {{{ body }}}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="javascripts/application.js"></script>
</body>

</html>