<h2 class="text-center">Welcome to your profile, {{user.username}}</h2>

<section class="user-info px-5">
  <div class="row">
    <div class="col-xs-5 col-md-3">
      <img src="/images/default_profile.jpg" class="img-fluid">
    </div>
    <div class="col-xs-7 col-md-9">
      <p>Name: {{user.username}}</p>
    </div>
  </div>
</section>

<section class="user-travels text-center">
  <h3>Your travels</h3>
  <button class="btn btn-primary mb-5">Add new experience</button>
</section>

<section class="user-travels text-center">
  <h3>Your favorites</h3>
</section>