body {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

button a {
  text-decoration: none;
  color: white;
}

label {
  font-weight: bold;
}

footer h6 {
  color: white
}

hr {
  height: 2px;
  color: #d8e6df;
  background: #d8e6df
}

.search-form {
  width: 45%;
  border-radius: 10px;
}

.input-category {
  width: 100%;
}

.top-index {
  background-image: url(https://www.camping.family/wp-content/uploads/2017/08/Wohnmobil-in-der-Natur-840x466.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  border-bottom: solid 7px #d8e6df
}

.responsive-width {
  font-size: 2.5vw;
}

.error-message {
  background-color: coral;
  color: white;
  border-radius: 2px;
}

.profile-pic {
  width: 15%;
  min-width: 100px;
}

.light-green {
  background-color: #d8e6df;
}

.edit-button {
  max-width: 70px;
}

.carousel-inner img {
  margin: auto;
  max-height: 400px;
}

.heart {
  max-width: 80px;
}

.heart-button {
  background-color: white;
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.card {
  border: none;
  border-radius: 0px;
  background-color: #e6ddcf
}

@media only screen and (max-width: 700px) {
  .heartrow {
  width: 80%;
  text-align: right
}
}