<h2 class="text-center mt-4">Result(s) for your search...</h2>

<hr class="mx-5">

<div class="row p-3">
  {{#each travels}}
  <div class="card mx-4 mb-4 light-green" style="width: 15rem;">
    <a href="/travel/{{this._id}}"><img src={{this.photos.[0]}} class="card-img-top">
      <div class="card-body">
        <h6>{{this.title}}</h6>
      </div>
    </a>
  </div>
  {{/each}}
  <div class="card mx-4 mb-4 light-green" style="width: 15rem;">
    <a href="/travel/{{this._id}}"><img src="/images/plus_icon.png" class="card-img-top">
      <div class="card-body">
        <h6>Have a better trip in mind?</h6>
      </div>
    </a>
  </div>
</div>